<html>
    <head>
        <style type="text/css" media="screen">
          <!-- 
              @import url("/static/stylesheets/binaryconverter.css");
          -->
       </style>
    </head>
    <center>
	<h1 class="title">
		{{ .title }}
	</h1>
    <p>Select first day</p>
    <form method="POST">
        <label>Give me a number:</label><br />
        <input type="text" name="number"><br />
        <input type="submit">
    </form>
    {{ .displayNumber}}
    {{ template "backHome.tmpl"}}
    </center>
</html>