<html>
	<h1>
		{{ .title }}
	</h1>
    <p>Select first day</p>
    <form method="POST">
        <label>Day One:</label><br />
        <input type="text" name="dayOne"><br />
        <label>Day Two:</label><br />
        <input type="text" name="dayTwo"><br />
        <input type="submit">
    </form>
</html>