<html>
<head>
  <meta charset="utf-8">
  <title>The Cool Tool Pool</title>
  <style type="text/css" media="screen">
    <!-- 
        @import url("/static/stylesheets/main.css");
    -->
 </style>
</head>
<center>
	<h1 class="title">
		{{ .title }}
	</h1>

	<h2 class="title"><a href="/about">About</a><h2>
	<h2 class="title"><a href="/daycounter">Daycounter for counting days</a><h2>
	<h2 class="title"><a href="/binary">Binary Converter</a><h2>
	</center>
</html>