<html>
<head>
  <meta charset="utf-8">
  <title>A static page</title>
  <style type="text/css" media="screen">
    <!-- 
        @import url("/css/main.css");
    -->
 </style>
</head>
	<h1>
		{{ .title }}
	</h1>

	<h2><a href="/about">About</a><h2>
	<h2><a href="/daycounter">Daycounter for counting days</a><h2>
	<h2><a href="/binary">Binary Converter</a><h2>
</html>